.main-slider{
  position: relative;
  height: 99.9vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.main-slider__bg{
  object-fit: cover;
  object-position: inherit;
  width: 100%;
  height: 99.9vh;
  position: fixed;
  top: 0;
  right: 0;
  @media only screen and (max-width: $medium){
    object-position: 92%;
  }
}

.main-slider__text{
  position: relative;
  z-index: 10;
  max-width: 60%;
  padding: 0 0 0 5.15em;
  @media only screen and (max-width: $medium){
    max-width: 100%;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    h1{
      font-size: 1em;
    }
  }
}

// Sliders secundarios para otras páginas que no sean la principal.

.main-secondary-slider{
  display: grid;
  grid-template-columns: 40% 10% 10% 40%;
  &__text, &__img{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    grid-row:1;
  }
  &__text{
    grid-column: 1 / 3;
    z-index: 10;
  }
  &__img{
    // overflow: visible;
    grid-column: 2 / 5;
    width: 100%;
  }
}