.stack-animation__content{
  position: relative;
  max-width: 900px;
}

.stack__img{
  align-self: flex-end;
}

.stack__text{
  align-self: center;
  @media only screen and (max-width: $small){
    text-align: center;
  }
}

.stack-animation__box{
  --size: 9.85%;
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: stack;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  border-radius: 50%;
}

.stack-animation__box__frontend{
  left: 44.58%;
  top: 4.5%;
}

.stack-animation__box__develop{
  left: 81.55%;
  top: 35.2%;
}

.stack-animation__box__backend{
  left: 26.45%;
  top: 52.5%;
}

// animaciones

@keyframes stack {
    0% {background-position: 100% 0;}
    15% {background-position: 100% 0;}

    20% {background-position: 75% 0;}
    35% { background-position: 75% 0;}
    
    40% { background-position: 50% 0;}
    65% { background-position: 50% 0;}

    70% { background-position: 25% 0;}
    95% { background-position: 25% 0;}

    100% {background-position: 0% 0;}
}

// logos

.frontend{
  background-image: url('../images/stack-logos-frontend.jpg');
}

.backend{
  background-image: url('../images/stack-logos-backend.jpg');
}

.database{
  background-image: url('../images/stack-logos-database.jpg');
}