.stack-animation__content{
  position: relative;
  max-width: 900px;
}

.stack__img{
  align-self: flex-end;
}

.stack__text{
  align-self: center;
  @media only screen and (max-width: $small){
    text-align: center;
  }
}

.stack-animation__box{
  --size: 9.85%;
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: stack;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  border-radius: 50%;
}

.stack-animation__box__frontend{
  left: 44.58%;
  top: 4.5%;
}

.stack-animation__box__develop{
  left: 81.55%;
  top: 35.2%;
}

.stack-animation__box__backend{
  left: 26.45%;
  top: 52.5%;
}

// animaciones

@keyframes stack {
    0% {background-position: 600% 0;}
    40% { background-position: center 0;}
    60% { background-position: center 0;}
    100% {background-position: -600% 0;}
}

// logos

.react{
  background-image: url('../svg/stylesheet/react.svg');
}

.ruby{
  background-image: url('../svg/stylesheet/ruby-on-rails.svg');
}

.aws{
  background-image: url('../svg/stylesheet/aws.svg');
}