

// el ancho del div al ocupa todo el ancho del viewport
.height-100vh{
    height: 100vh;
}

.s-hidden{
    display: none;
    @media only screen and (min-width: $small){
        display: inherit;
    }
}

.txt-center{
 text-align: center;
}

.vertical-padding{
    padding: 3.2em 0 3.6em 0;
}

.color-gray{
    color: var(--dark-gray);
}