

// el ancho del div al ocupa todo el ancho del viewport
.height-100vh{
    height: 100vh;
}

.s-hidden{
    display: none;
    @media only screen and (min-width: $small){
        display: inherit;
    }
}