// LAYOUT
.container{
    position: relative;
    width: 100%;
    padding: 3rem 5.45rem;
    @media only screen and (max-width: $medium){
        padding: 3rem 2.5rem .80rem 2.5rem;
    }
    @media only screen and (max-width: $small){
        padding: 3rem 1.5rem .80rem 1.5rem;
    }
}

.container-fluid{
    position: relative;
    width: 100%;
}

.content{
    width: 100%;
    height: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 5.15em 0 3.25em 0;
    @media only screen and (max-width: $small){
        padding: 0;
    }
}

.grid-col40-col60{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    grid-gap: 36px;
    height: 100%;
    justify-content: space-between;
    justify-items: stretch;
    @media only screen and (max-width: $medium){
        grid-template-columns: 35% 65%;
        grid-template-rows: auto;
        grid-gap: 27px;
    }
    @media only screen and (max-width: $small){
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 18px;
    }
}

.content__left, .content__right{
    flex: 0 0 49%;
}

.order-s1-m2{
    order: 0;
    @media only screen and (min-width: $small){
        order: 1;
    }
}
.order-s2-m1{
    order: 1;
    @media only screen and (min-width: $small){
        order: 0;
    }
}

.flex-cc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// flex for two

.flex-two-col{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media only screen and (max-width: $small){
        flex-direction: column;
    }
}

.grid-two-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 48px;
    place-items: center center;
    @media only screen and (max-width: $small){
        grid-template-columns: 1fr;
    }
}

// Flex direction
.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

// Layout One Col Two Col

.grid-onecol-twocol{
    display: grid;
    grid-template: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "MainImage MainImage"
    "title subtitle";
    gap: 46px 138px;
    padding-top: 5em;
    @media only screen and (max-width: $medium){
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "MainImage"
        "title"
        "subtitle";
        gap: 9px 90px;
    }
}

.grid-onecol-twocol__main{
    grid-area: MainImage;
}

.grid-onecol-twocol__img{
    width: 100%;
    @media only screen and (max-width: $medium){
        padding-bottom: 2em;
    }
}

.grid-onecol-twocol__title{
    grid-area: title;
}

.grid-onecol-twocol__subtitle{
    grid-area: subtitle;
    padding-right: 25%;
    @media only screen and (max-width: $medium){
        padding-right: 0;
    }
}

.grid{
    display: grid;
    justify-items: center;
    padding-bottom: 6em;
    max-width: 960px;

}

.l-4-col{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 46px;
}

.clients-content {
    margin: 0 auto;
 & img {
     max-width: 140px;
 }
}