// LAYOUT
.container{
    width: 100%;
    padding: 3rem 5.45rem;
    @media only screen and (max-width: $small){
        padding: 3rem 2rem .80rem 2rem;
    }
}

.content{
    width: 100%;
    height: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 5.15em 0 3.25em 0;
    @media only screen and (max-width: $small){
        padding: 0;
    }
}

// Secondary main content for pages with primary text who don't use 100% height.

.main-slider{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.g-2fr-3fr{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 100%;
    grid-gap: 36px;
    height: 100%;
    @media only screen and (max-width: $small){
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
    }
}

.g-30-70{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    grid-gap: 36px;
    height: 100%;
    justify-content: space-between;
    justify-items: stretch;
    @media only screen and (max-width: $small){
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
    }
}

.content__left, .content__right{
    align-self: center;
}

.order-s1-m2{
    order: 0;
    @media only screen and (min-width: $small){
        order: 1;
    }
}
.order-s2-m1{
    order: 1;
    @media only screen and (min-width: $small){
        order: 0;
    }
}

.flex-cc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-two-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 48px;
    place-items: center center;
}
// Flex direction
.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

// Layout One Col Two Col

.grid-onecol-twocol{
    display: grid;
    grid-template: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "MainImage MainImage"
    "title subtitle";
    gap: 46px 138px;
    padding-top: 5em;
    @media only screen and (max-width: $medium){
        grid-template-columns: 1fr;
        grid-template-areas: 
        "MainImage"
        "title"
        "subtitle";
    }
}

.grid-onecol-twocol__main{
    grid-area: MainImage;
}

.grid-onecol-twocol__img{
    width: 100%;
}

.grid-onecol-twocol__title{
    grid-area: title;
}

.grid-onecol-twocol__subtitle{
    grid-area: subtitle;
    padding-right: 25%;
}
