*{
    scroll-behavior: smooth;
}

*,*::before,*::after{
    box-sizing: inherit;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: termina, sans-serif;
    color: #ffffff;
    background-color: #1c1c1c;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,ol,li,p,pre,blockquote,figure,hr{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

input,textarea,select,button{
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
}

button * {
    pointer-events: none;
}

embed,
iframe,
img,
object,
video {
    display: block;
    max-width: 100%;
}

table{
    table-layout: fixed;
    width: 100%;
}

[hidden] {
    display: none !important;
}

a{
    text-decoration: none;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(60,60,60,.5);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #201AE1;
  }