@import "variables";
@import "reset";
@import "tipography";
@import "layout";
@import "helpers";
@import url("https://use.typekit.net/gmy5mcq.css");
// @import url("https://use.typekit.net/gmy5mcq.css");

// Global

.bg-white{
    background-color: #ffffff;
    color: $primary-color;
    a{
        color: black;
        text-decoration: underline;
    }
}

.center{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

// Header

.header__container{
        // background: rgba(28,28,28,0.4);
        margin-bottom: 1.45rem;
        padding: 0 5.45rem;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        z-index: 100;

        @media only screen and (max-width: $small){
            padding: 0 2rem;
        }

        // &::before{
        //     position: absolute;
        //     top: -30%;
        //     left: 0;
        //     content: '';
        //     width: 100%;
        //     height: 90%;
        //     z-index: 10;
        //     filter: blur(25px);
        //     background-color: rgba(0,0,0,0.4);
        // }
}

.header__content{
        margin: 0 auto;
        max-width: 1600;
        padding: 1.25rem 0;
        border-bottom: 1px solid rgba(255,255,255,.1);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
        position: relative;
}

.header__logo{
    max-width: 140px;
    flex-basis: 150px;
    flex-shrink: 0;
    height: 24px;
}

.header__nav{
    display: flex;
}

.header__nav__ul{
    display: flex;
    flex-direction: row;
    flex: 1; 
    margin: 0;
    @media only screen and (max-width: $medium){
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        justify-content: center;
        top: 0;
        left: 120%;
        background-color: rgba(30,30,30,.95);
        width: 100%;
        height: 100vh;
    }
}

.header__hamburguer-menu{
    z-index: 10;
    display: none;
    @media only screen and (max-width: $medium){
        display: inherit;
        width: 36px;
        height: 36px;
        margin-left: auto;
    }
}

.js-header__nav--active{
    left: 0;
}

//Seccion Que Hacemos

.seccionQueHacemos__title{
    font-size: 2.95rem;
    font-weight: 700;
    padding-bottom: 5rem;
    @media only screen and(max-width: $small){
        font-size: 1.9rem;
    }
}

// buttons
.button{
    padding: .65rem 2rem;
    border-radius: 25px;
    background-color: white;
    text-decoration: none;
    color: black;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.button--primary{
    background-color: var(--color--blue);
    color: var(--color-white);
    border: none;
    margin-top: 3em;
    transition: box-shadow .1s ease-in-out;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 1px 12px 8px darken(#201AE1,25%);
    }
}

.button--secondary{
    background-color: var(--color--white);
    color: $primary-color;
    border: none;
    margin-top: 3em;
}



// Contact Component

.cContact__content{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
    grid-gap: 48px;
    place-items: center;
    padding: 2.8rem 3rem;
    border-radius: 8px;
    background: linear-gradient(
        45deg,
        #201AE1,
        #00DCFF
    );
    @media only screen and (max-width: $medium){
        grid-template-columns: 1fr;
        padding: 2rem 2.5rem;
    } 
}

// Value component

.value__slide{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 4fr 1fr;
    grid-template-rows: 1fr 2fr 3.5fr 4fr;
    height: 400px;
    max-width: 960px;
    margin: 0 auto;
    @media only screen and (max-width: $medium){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr;
        height: 300px;
    }
}

.value__name{
    font-size: 5em;
    font-weight: bold;
    grid-column: 2 / span 5;
    grid-row: 3 / 4;
    z-index: 10;
    padding: 0;
    margin: 0;
    @media only screen and (max-width: $medium){
        font-size: 2.8em;
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }
}

.value__number{
    color: $primary-color;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-size: 18em;
    font-weight: bold;
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    align-self: top;
    place-self: center;
    opacity: .25;
    @media only screen and (max-width: $medium){
        font-size: 16em;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
}

.value__description{
    grid-column: 3 / span 4;
    grid-row: 4 / span 5;
    font-size: 1.8em;
    line-height: 2em;
    font-weight: lighter;
    @media only screen and (max-width: $medium){
        font-size: 1.36em;
        grid-column: 1 / span 2;
        grid-row: 2 / span 4;
    }
}

// Service Module
.service__content{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: $small){
        flex-direction: column;
    }
}

.service__multimedia{
    width: 100%;
    flex: 0 0 65%;
}

.service__text{
    flex: 0 0 35%;
}

.service__img{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

//forms

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2em;
}

label{
    padding-bottom: 8px;
    margin-top: 2.2em;
}

input[type=text], textarea{
    padding: 1em;
    border-radius: 8px;
    border: 2px solid white;
    background-color: darken($primary-color, 2%);
    width: 100%;
    max-width: 620px;
    &:hover{
        border-color: var(--color--blue);
        background-color: darken($primary-color, 15%);
    }
    &:focus{
        border-color: var(--color--green);
        background-color: darken($primary-color, 50%);
        outline: none;
    }
}

//footer

.footer__container{
    padding: 4rem 0;
    background-color: black;
    background-image: url('../svg/stylesheet/footer-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.footer__grid{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-gap: 16px;
    place-items: start center;
    @media only screen and (max-width: $small){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    } 
}

.footer__nav__li{
    padding: .65rem 0 0 0;
}
