// Tipography

.biggerTitle{
    font-size: 3.25rem;
    @media only screen and(max-width: $small){
        font-size: 1.9rem;
    }
}

h1,h2,h3,h4,h5,h6,pre,p{
    text-rendering: optimizeLegibility;
}


h1 {
    margin-bottom: 1.45rem;
    font-size: var(--h1-size);
    line-height: 1.45;
    font-weight: 400;
}

h2 {
    margin-bottom: 1.45rem;
    color: inherit;
    font-weight: lighter;
    font-size: var(--h2-size);
    line-height: 1.55;
  }

h3 {
    margin-bottom: 1.45rem;
    color: inherit;
    font-weight: bold;
    font-size: var(--h3-size);
    line-height: 1.1;
}
h4 {
    margin-bottom: 1.45rem;
    color: inherit;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.1;
}
h5 {
    margin-bottom: 1.45rem;
    color: inherit;
    font-weight: lighter;
    font-size: var(--h5-size);
    line-height: 1.85;
}
h6 {
    margin-bottom: 1.45rem;
    color: inherit;
    font-weight: bold;
    font-size: var(--h6-size);
    color: $gray-color;
    line-height: 1.1;
}

pre {
    font-family: worker, serif;
    font-size: var(--h3-size);
    line-height: 1.42;
    overflow: auto;
    word-wrap: normal;
    padding: .15rem 0 .65rem;
    background: none;
}